/*Box reset Code*/	

	html, hero, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		max-height: 999999px;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, hero {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	html {
	  box-sizing: border-box;
	}
	*, *:before, *:after {
	  box-sizing: inherit;
	}
	a {
		text-decoration: none;
	}


html body {
	font: 16px 'PT Sans', Helvetica, Arial;
	min-width: 800px;
	min-height: 425px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0px;
	
}

.clearfix:after {
	clear:both;
	content:".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.header, .footer {
	border-bottom: transparent solid grey;
	}

.header {
	top: 0;
	position: fixed;
	width: 100%;
	min-width: 810px;
	height: 75px;
	min-height: 50px;
	background-color: white;
	z-index: 1000; /*did this because I set .hero to Position:Relative;*/
}

.header .container {
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
}

.header .logo {
	margin: 15px 20px 10px 20px;
}
.slogan {
	position: absolute;
	margin: 1px 0 0 22px;
	font-style: italic;
	font-size: 12px; 

}

.header-links {
	float: right;
	display: block;
	border-bottom: transparent;
	text-align: center;
}
.header-links li {
	float:left;
	/*padding: 5px 10px 7px 55px;	Disabling the fat LEFT PADDING */ 
	padding: 5px 25px 7px 25px;
	margin: -61px 0px 30px 0px;
	border-left: 1.5px solid #E9E9E9;
	line-height: 62px;
}

.header-links li a {
	position: relative;
	color: black;
	font-weight: 350;
}

/* TURNING OFF THE HEADER LINK LOGOS FOR NOW //

.header-links a:after {
	content:'';
	background: transparent url(./images/nav-logos-2.png) no-repeat;
	opacity: 0.8;
	position: absolute;
	top: 0px;
	left: -34px;
}

.header-links .contact-us a:after {
	background-position: 0px -1px;
	width: 20px;
	height: 18px;
}

.header-links .locations a:after {
	background-position: -20px 0px;
	width: 15px;
	height: 20px;
}

.header-links .horaires a:after {
	background-position: -37px 0px;
	width: 22px;
	height: 21px;
}
*/

.header-links li a:hover {
	color: white;
	font-weight: 600;
	/*text-shadow: 4px 2px rgba(0,0,0,0.1);	 disabling due to re-enabling of background hover */
	
}


.header-links li:hover {
	background-color: #3F424F;
}

.hero {
	margin-top: 70px;
	/*background: #000 url(./images/mattjjb2.jpg) no-repeat 50% 50%;*/
	background-size: cover;
	text-align: center; 		/*NECESSARY TO SET CHILD ELEMENTS CENTERED*/
	width: auto;
	height: 85vh;
	min-height: 475px;
	min-width: 1280px;
	/*overflow: auto;*/
	/*position: relative; 		/*this was not set before - made this 18/09 */
}

/*VIDEO BACKGROUND TEST CSS */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -99;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    pointer-events: none;
    z-index: -99;
    min-width: 1280px;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('./images/mattjjb2.jpg') center center / cover no-repeat; /*THUMBNAIL AND PICTURE WHEN ON MOBILE*/
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.overlay {
	background: #181b23 url(./images/overlays/black-medium-checks.png) repeat;
	background-color: #fff;
	position: absolute; /*UNDER THE VIDEO-BG DIV - THIS ALLOWS US TO KEEP IT SIZED NORMALLY DURING RESIZING*/
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	opacity: 0.2;
	z-index: -10;
	}

.black-overlay {
	background-color: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* opacity: 0.9; */
    position: absolute;				/*UNDER THE VIDEO-BG DIV - THIS ALLOWS US TO KEEP IT SIZED NORMALLY DURING RESIZING*/
    z-index: -9;

	}	

/*END TEST*/

/*.hero .container {
	background: #000 url(./images/mattjjb2.jpg) no-repeat;
	background-size: cover;
	text-align: center;
	width: auto;
	height: 90vh;
}*/

.hero h1 {
	font-size: 58px;
	color: rgb(235,235,235);
	font-weight: bold;
	display: block;   				/*NECESSARY TO CENTER ELEMENT IN .HERO DIV*/
	/*margin: 0px 0 30px;*/
	padding-top: 45px;
	margin-left: auto;				/*NECESSARY TO CENTER */
	margin-right: auto;
	width: 850px;
	text-shadow: 2px 2px black;
}

.hero-blurb {
	display: block;
    margin: 50px auto -40px auto;
    color: white;
    width: 700px;
}

.btn {
	display: inline-block;
	width: 300px;
	line-height: 50px;
	border: 1px solid transparent;
	margin: 110px 15px 0 0;
	padding: 5px 0px 5px 25px;
	border-radius: 10px;
	color: rgb(235,235,235);
	font-size: 22px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.5s;
	/*border: 1px solid grey;
	width: 160px;
	float: left;
	padding: 15px;
	margin-right: 15px;*/
}

.btn-blue {
	background-color: #0B1C5C;
	box-shadow: 4px 4px #04113F;
}

.btn-grey {
	background-color: #3F424F;	
	box-shadow: 4px 4px #272C3E;
	width: 200px;
}

.btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn span:after {
	content: '>>';
	position: relative;
	opacity: 0;
	top: -1px;
	right: -40px;
	transition: 0.5s;
	font-size: 14px;
}
.btn:hover span {
	padding-right: 40px;
}
.btn:hover span:after {
	opacity: 1;
	right: -16px;
}

.main {
	height: 400px;
	text-align: center;
	background-color: rgba(255,255,255, 0.6);
	border-top: 3px solid #B3C4F3;
	border-bottom: 3px solid #B3C4F3;
	margin: 20px 0px; 
	min-width: 1280px; /*for resizing - this pushes down element but keeps it within container*/
}

.main .block {							/*ALL THE BLOCKS*/
	display: inline-block;
	margin: 40px 20px 0 20px;
	border: 2px solid transparent;
	border-radius: 15px;
	min-width: 300px;
	/*width: 24%;*/
	width: 330px;
	height: auto;
	background-color: #E6E6E6;


}

.block-image {
	margin: 15px;
	height: 200px;
}

.workoutgirl1 { 					/*THIS IS THE ONLY FOR THE IMAGE IN THE BLOCKS*/
	background: #fff url(images/workoutgirledit4.jpg) no-repeat;
	background-size: cover;
	
}

.workoutgirl2 { 					/*THIS IS THE ONLY FOR THE IMAGE IN THE BLOCKS*/
	background: #fff url(images/workoutgirlEDIT2.jpg) no-repeat;
	background-size: cover;
}

.workoutgirl3 { 					/*THIS IS THE ONLY FOR THE IMAGE IN THE BLOCKS*/
	background: #fff url(images/mattjjb2.jpg) no-repeat;
	background-size: cover;
}

.main .block .block-paragraph { 		/*PARAGRAPH IN BLOCKS*/
	border-top: 1px solid #B3C4F3;
	font-size: 13px;
	font-family: 'PT Serif', Helvetica, Arial;
	text-align: left;
	padding: 10px;
	margin: 0 15px;
}

.block-paragraph img {
	float: left;
	margin: 5px 12px 15px -10px;
}

.footer {
	position: relative;
	/*border-top: 1px solid #B3C4F3;*/
	height: 200px;
	bottom: 0;
	width: 100%;
	min-width: 1280px;
	background-color: rgba(0,0,0,0.8);
	color: white;
}	

.footer-nav .footer-column {
	float:left;
	margin-left: 40px;
	margin-top: 40px;
	padding-right: 35px;
}
.footer-column span {
	font-weight: 400;
	font-size: 20px;
}

.footer-nav a {
	color: #8D8B8B;
	font-size: 14px;

}

